@keyframes fade-in-right {
  from {
    opacity: 0;
    transform: translateX(-15px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes grow-left {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

@keyframes fade-in-down {
  from {
    opacity: 0;
    transform: translateY(-15px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes grow-down {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}

@keyframes shake-up-down {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3px);
  }
}

.reveal-1,
.reveal-3 {
  opacity: 0;
  animation: fade-in-right ease 0.4s forwards;
}

.reveal-2 {
  transform: scaleX(0);
  transform-origin: left;
  animation: grow-left cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.5s forwards;
  animation-delay: 0.4s;
}

.reveal-3 {
  animation-delay: 0.8s;
}

.reveal-down-1 {
  opacity: 0;
  animation: fade-in-down ease 0.4s forwards;
}

.reveal-delay {
  animation-delay: 0.2s;
}

.reveal-down-2 {
  transform: scaleY(0);
  transform-origin: top;
  animation: grow-down cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.5s forwards;
  animation-delay: 0.4s;
}