@import "~bootstrap/scss/bootstrap";
@import "./animations";
$bg-color-light: #1fabc00f;
$bg-color-dark: #1565c01a;
$bg-block: #1fabc082;
body {
  height: 100vh;
  width: 100vw;
  background-color: $bg-color-dark;
  font-family: 'Slabo 27px', serif;
}

.base {
  position: relative;
  padding-bottom: 5rem;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Staatliches', cursive;
}

.app-title {
  display: inline-block;
  padding: 1rem;
  border: 2px solid #1565c0;
  &.smaller {
    color: #1565c0;
  }
  .svg-icon {
    transform: rotate(10deg);
  }
}

.login-container {
  margin: 2rem 0;
}

form {
  margin: 2rem 0;
  .form-group {
    margin: 1.5rem 0;
  }
}

.form-input {
  padding: 1.2rem 1rem;
  box-shadow: inset 0 2px 4px 0 hsla(0, 0%, 0%, 0.08);
}

// .nav-menu {
//   background-color: #1565c0;
//   color: white;
//   border-radius: 4px;
//   overflow: hidden;
//   >.nav-item {
//     padding: 1rem;
//     display: inline-block;
//     color: white;
//     &.active {
//       background-color: #5e92f3
//     }
//   }
// }
.nav-items {
  display: inline-block;
  margin: 1rem 2rem;
}

.svg-icon {
  font-size: 16px;
  display: inline-block;
  fill: #1565c0;
}

.notification {
  position: absolute;
  border: 2px solid #388e3c;
  padding: 1rem;
  color: #388e3c;
  display: inline-block;
  .svg-icon {
    fill: #388e3c;
  }
  right: 0;
  &.error {
    border-color: #d32f2f;
    color: #d32f2f;
    .svg-icon {
      fill: #d32f2f;
    }
  }
}

.block {
  background-color: $bg-block;
  color: white;
  padding: 2rem 1rem;
  margin: 2rem auto;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2)
}

.blog-details {
  color: hsla(0, 0%, 100%, 0.9);
}

.inline-block {
  display: inline-block;
  position: absolute;
  right: 0;
}

.list-item {
  padding: 1rem;
}

ul {
  padding: 0;
  list-style: none;
  li:before {
    content: '>' !important;
    font-weight: 700;
    margin: 0 1em;
  }
}

.blog-button {
  color: #1565c0;
  display: inline-block;
  border: 1px solid #1565c0;
  border-radius: 2px;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  user-select: none;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, fill 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  &:hover {
    // color: white;
    border-color: white;
    .svg-icon {
      animation: shake-up-down ease 0.4s forwards;
    }
  }
  .svg-icon {
    vertical-align: sub;
  }
  &.remove {
    border: 1px solid #dc3545;
    color: #dc3545;
    .svg-icon {
      fill: #dc3545;
    }
  }
}